# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.docusaurus

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#HTML files
# *.
DisplayRemoto_FW4_2.html
Main inicial.html
ServerFocusLite.html
VisualizacionDatos_FW4_2.html
DisplayRemoto_New_feature.html

node_modules
.DS_Store
.vscode
/build
/portal
.pio
